<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/accueil.css">
</head>
<style>

</style>

<body class="bg-light">
    <%- include menu -%>
    <%- include bienvenue -%>
    <%- include options -%>
    <%- include ../script -%>
    <script src="/js/main.js"></script>
</body>
</html>