<div class="row cardoption">
    <div class="col-12 white">
        <div class="row p-3">
            <div class="col-12 icon d-flex justify-content-center">
                <i class="<%= icon %> fa-7x text-dark"></i>
            </div>
            <div class="col-12 text">
                <h3 class="font-weight-bold"><%= titre %></h3>
            </div>
            <div class="col-12 details">
                <small class="text-dark">
                    <%= details %>
                </small>
            </div>
            <div class="col-12 boutton mt-3 d-flex justify-content-end">
                <button onclick="window.location='<%= lien %>'" class="btn btn-<%= couleur %>" type="button">suivant <i class="ml-2 mdi-navigation-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>