<div class="row white p-4">
    <div class="img col-12" style="background-image: url('/uploads/<%= photoElecteur %>');">
    </div>
    <div class="col-12 data p-4">
        <span><b>Nom</b> : <%= nomElecteur %></span><br>
        <span><b>Prenoms</b> : <%= prenomsElecteur %></span><br>
        <span><b>Date de naissance</b> : <%= datenaissanceElecteur %> </span><br>
        <span><b>Lieu de naissance</b> : <%= lieunaissanceElecteur %></span><br>
        <span><b>Domicile</b> : <%= domicileElecteur %></span><br>
        <span><b>Profession</b> : <%= professionElecteur %></span><br>
        <span><b>Contact</b> : <%= contactElecteur %></span><br>
    </div>
</div>